swagger: "2.0"
info:
  title: Core API
  description: Provides access low-level operations over feature values and model predictions.
  version: version not set
tags:
  - name: EngineService
host: raptor-core-service.raptor-system:60001
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /{fqn}/append:
    post:
      summary: Append appends the given value to the feature value for the given selector.
      operationId: EngineService_Append
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alpha1AppendResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: fqn
          description: Selector of the feature
          in: path
          required: true
          type: string
        - name: uuid
          description: UUID of the request
          in: query
          required: false
          type: string
        - name: value.stringValue
          in: query
          required: false
          type: string
        - name: value.intValue
          in: query
          required: false
          type: integer
          format: int32
        - name: value.floatValue
          in: query
          required: false
          type: number
          format: double
        - name: value.boolValue
          in: query
          required: false
          type: boolean
        - name: value.timestampValue
          in: query
          required: false
          type: string
          format: date-time
        - name: timestamp
          description: Timestamp of the update
          in: query
          required: false
          type: string
          format: date-time
      tags:
        - EngineService
  /{fqn}/incr:
    post:
      summary: Incr increments the feature value for the given selector.
      operationId: EngineService_Incr
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alpha1IncrResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: fqn
          description: Selector of the feature
          in: path
          required: true
          type: string
        - name: uuid
          description: UUID of the request
          in: query
          required: false
          type: string
        - name: value.stringValue
          in: query
          required: false
          type: string
        - name: value.intValue
          in: query
          required: false
          type: integer
          format: int32
        - name: value.floatValue
          in: query
          required: false
          type: number
          format: double
        - name: value.boolValue
          in: query
          required: false
          type: boolean
        - name: value.timestampValue
          in: query
          required: false
          type: string
          format: date-time
        - name: timestamp
          description: Timestamp of the update
          in: query
          required: false
          type: string
          format: date-time
      tags:
        - EngineService
  /{selector}:
    get:
      summary: Get returns the feature value or model prediction for the given selector.
      operationId: EngineService_Get
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alpha1GetResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: selector
          description: Selector of the feature
          in: path
          required: true
          type: string
        - name: uuid
          description: UUID of the request
          in: query
          required: false
          type: string
      tags:
        - EngineService
    post:
      summary: Update updates the feature value for the given selector.
      operationId: EngineService_Update
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alpha1UpdateResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: selector
          description: Selector of the feature
          in: path
          required: true
          type: string
        - name: uuid
          description: UUID of the request
          in: query
          required: false
          type: string
        - name: value.scalarValue.stringValue
          in: query
          required: false
          type: string
        - name: value.scalarValue.intValue
          in: query
          required: false
          type: integer
          format: int32
        - name: value.scalarValue.floatValue
          in: query
          required: false
          type: number
          format: double
        - name: value.scalarValue.boolValue
          in: query
          required: false
          type: boolean
        - name: value.scalarValue.timestampValue
          in: query
          required: false
          type: string
          format: date-time
        - name: timestamp
          description: Timestamp of the update
          in: query
          required: false
          type: string
          format: date-time
      tags:
        - EngineService
    put:
      summary: Set sets the feature value for the given selector.
      operationId: EngineService_Set
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alpha1SetResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: selector
          description: Selector of the feature
          in: path
          required: true
          type: string
        - name: uuid
          description: UUID of the request
          in: query
          required: false
          type: string
        - name: value.scalarValue.stringValue
          in: query
          required: false
          type: string
        - name: value.scalarValue.intValue
          in: query
          required: false
          type: integer
          format: int32
        - name: value.scalarValue.floatValue
          in: query
          required: false
          type: number
          format: double
        - name: value.scalarValue.boolValue
          in: query
          required: false
          type: boolean
        - name: value.scalarValue.timestampValue
          in: query
          required: false
          type: string
          format: date-time
        - name: timestamp
          description: Timestamp of the update
          in: query
          required: false
          type: string
          format: date-time
      tags:
        - EngineService
    head:
      summary: FeatureDescriptor returns the feature descriptor for the given selector.
      operationId: EngineService_FeatureDescriptor
      responses:
        "200":
          description: A successful response.
          schema:
            $ref: '#/definitions/v1alpha1FeatureDescriptorResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/rpcStatus'
      parameters:
        - name: selector
          description: Selector of the feature
          in: path
          required: true
          type: string
        - name: uuid
          description: UUID of the request
          in: query
          required: false
          type: string
      tags:
        - EngineService
definitions:
  corev1alpha1Value:
    type: object
    properties:
      scalarValue:
        $ref: '#/definitions/v1alpha1Scalar'
      listValue:
        $ref: '#/definitions/v1alpha1List'
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
    additionalProperties: {}
  rpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          $ref: '#/definitions/protobufAny'
  v1alpha1AggrFn:
    type: string
    enum:
      - AGGR_FN_UNSPECIFIED
      - AGGR_FN_SUM
      - AGGR_FN_AVG
      - AGGR_FN_MAX
      - AGGR_FN_MIN
      - AGGR_FN_COUNT
    default: AGGR_FN_UNSPECIFIED
  v1alpha1AppendResponse:
    type: object
    properties:
      uuid:
        type: string
        title: UUID corresponding to the request
      timestamp:
        type: string
        format: date-time
        title: Timestamp of the update
    description: AppendResponse is the response to append a value to a feature value.
  v1alpha1ExecuteProgramResponse:
    type: object
    properties:
      uuid:
        type: string
        description: UUID corresponding to the request.
      result:
        $ref: '#/definitions/corev1alpha1Value'
        description: Result of the program execution.
      keys:
        type: object
        additionalProperties:
          type: string
        description: Keys for the feature. The keys are used to identify the feature instance.
      timestamp:
        type: string
        format: date-time
        description: Timestamp of the response.
    description: EntityReadResponse is a response to a read entity request.
  v1alpha1FeatureDescriptor:
    type: object
    properties:
      fqn:
        type: string
      primitive:
        $ref: '#/definitions/v1alpha1Primitive'
      aggr:
        type: array
        items:
          $ref: '#/definitions/v1alpha1AggrFn'
      freshness:
        type: string
      staleness:
        type: string
      timeout:
        type: string
      keepPrevious:
        $ref: '#/definitions/v1alpha1KeepPrevious'
      keys:
        type: array
        items:
          type: string
      builder:
        type: string
      dataSource:
        type: string
      runtimeEnv:
        type: string
  v1alpha1FeatureDescriptorResponse:
    type: object
    properties:
      uuid:
        type: string
        title: UUID corresponding to the request
      featureDescriptor:
        $ref: '#/definitions/v1alpha1FeatureDescriptor'
        title: Feature descriptor
    description: FeatureDescriptorResponse is the response to get a feature descriptor.
  v1alpha1FeatureValue:
    type: object
    properties:
      fqn:
        type: string
      keys:
        type: object
        additionalProperties:
          type: string
      value:
        $ref: '#/definitions/corev1alpha1Value'
      timestamp:
        type: string
        format: date-time
      fresh:
        type: boolean
  v1alpha1GetResponse:
    type: object
    properties:
      uuid:
        type: string
        title: UUID corresponding to the request
      value:
        $ref: '#/definitions/v1alpha1FeatureValue'
        title: Feature value
      featureDescriptor:
        $ref: '#/definitions/v1alpha1FeatureDescriptor'
        title: Feature descriptor
    description: GetResponse is the response to get a feature value.
  v1alpha1IncrResponse:
    type: object
    properties:
      uuid:
        type: string
        title: UUID corresponding to the request
      timestamp:
        type: string
        format: date-time
        title: Timestamp of the update
    description: IncrResponse is the response to atomic-increment a feature value.
  v1alpha1KeepPrevious:
    type: object
    properties:
      versions:
        type: integer
        format: int64
      over:
        type: string
  v1alpha1List:
    type: object
    properties:
      values:
        type: array
        items:
          $ref: '#/definitions/v1alpha1Scalar'
  v1alpha1LoadProgramResponse:
    type: object
    properties:
      uuid:
        type: string
        description: UUID corresponding to the request.
      primitive:
        $ref: '#/definitions/v1alpha1Primitive'
        description: Primitive that the program will return.
      sideEffects:
        type: array
        items:
          $ref: '#/definitions/v1alpha1SideEffect'
        description: Side effects that the program will produce.
    description: LoadProgramResponse is a response to a load program request.
  v1alpha1Primitive:
    type: string
    enum:
      - PRIMITIVE_UNSPECIFIED
      - PRIMITIVE_STRING
      - PRIMITIVE_INTEGER
      - PRIMITIVE_FLOAT
      - PRIMITIVE_BOOL
      - PRIMITIVE_TIMESTAMP
      - PRIMITIVE_STRING_LIST
      - PRIMITIVE_INTEGER_LIST
      - PRIMITIVE_FLOAT_LIST
      - PRIMITIVE_BOOL_LIST
      - PRIMITIVE_TIMESTAMP_LIST
    default: PRIMITIVE_UNSPECIFIED
    description: ' - PRIMITIVE_STRING_LIST: 6-9 Reserved for future use.'
  v1alpha1Scalar:
    type: object
    properties:
      stringValue:
        type: string
      intValue:
        type: integer
        format: int32
      floatValue:
        type: number
        format: double
      boolValue:
        type: boolean
      timestampValue:
        type: string
        format: date-time
  v1alpha1SetResponse:
    type: object
    properties:
      uuid:
        type: string
        title: UUID corresponding to the request
      timestamp:
        type: string
        format: date-time
        title: Timestamp of the update
    description: SetResponse is the response to set a feature value.
  v1alpha1SideEffect:
    type: object
    properties:
      kind:
        type: string
      args:
        type: object
        additionalProperties:
          type: string
      conditional:
        type: boolean
    description: SideEffect is a side effect of a program execution.
  v1alpha1UpdateResponse:
    type: object
    properties:
      uuid:
        type: string
        title: UUID corresponding to the request
      timestamp:
        type: string
        format: date-time
        title: Timestamp of the update
    description: UpdateResponse is the response to update a feature value.
externalDocs:
  description: Official documentation
  url: https://raptor.ml
