repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
        exclude: .github/demo.gif
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
        args:
          - --allow-multiple-documents
      - id: destroyed-symlinks
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: no-commit-to-branch
      - id: pretty-format-json
        args:
          - --autofix
      - id: trailing-whitespace
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: debug-statements
      - id: double-quote-string-fixer
      - id: fix-encoding-pragma
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.50.1
    hooks:
      - id: golangci-lint
        args:
          - --config
          - .golangci.yaml
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: pretty-format-golang
        args:
          - --autofix
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args:
          - --exclude-files
          - ^.*/zz_generated\.deepcopy\.go$
          - --exclude-files
          - ^.*/.*\.pb\.go$
          - --exclude-files
          - ^.*/.*\.pb\..*\.go$
          - --exclude-files
          - ^.*/.*\.swagger\.json$
          - --exclude-files
          - ^.*/.*_pb2\.py$
          - --exclude-files
          - ^.*/.*_pb2_grpc\.py$
          - --exclude-files
          - ^config/.*\.yaml$
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v2.1.1
    hooks:
      - id: conventional-pre-commit
        stages: [ commit-msg ]
        args: [ "feat", "fix", "docs", "style", "refactor", "perf", "test", "build", "ci", "chore", "revert" ]
  - repo: local
    hooks:
      - id: check-headers-for-license
        name: Check headers for license
        entry: ./hack/check-headers-for-license.sh
        language: script
        pass_filenames: false
        stages: [ commit ]
      - id: licenses-check-allowed
        name: Check licenses are allowed
        entry: ./hack/licenses-check-allowed.sh
        language: script
        pass_filenames: false
        stages: [ commit ]
