# permissions for end users to view datasources.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: datasource-viewer-role
rules:
  - apiGroups:
      - k8s.raptor.ml
    resources:
      - datasources
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - k8s.raptor.ml
    resources:
      - datasources/status
    verbs:
      - get
