apiVersion: apps/v1
kind: Deployment
metadata:
  name: historian
  namespace: system
  labels:
    control-plane: historian
spec:
  selector:
    matchLabels:
      control-plane: historian
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: historian
      labels:
        control-plane: historian
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - name: historian
        command:
        - /historian
        image: historian:latest
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        # TODO(user): Configure the resources accordingly based on the project requirements.
        # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        resources:
          limits:
            cpu: 500m
            memory: 1024Mi
          requests:
            cpu: 50m
            memory: 1028Mi
      serviceAccountName: controller-core
      terminationGracePeriodSeconds: 10
